$background: #121417;
$green-bull: #55BF74;
$red-bear: #D93D4E;
$gray-200: #5B626D;
$gray-100: #95999E;
$gray-800: #2a2f31;
$gray-700: #3b4144;
$yellow-200: #B08A2E;
$yellow-100: #E0AD33;
$white: #fff;